
:root {
    --primary: #A91B60;
    --secondary:#FF0080;
    --white: #FFFFFF;
    --black: ##000000;
    --text:#333333;
    --red:#FF0000;
    --primary-font:'Poppins', sans-serif ;
    --secondary-font:'Roboto', sans-serif;
}
body{
    margin-top:100px !important;
    min-height: 150px;
    font-size: 15px !important;
    font-family: var(--secondary-font) !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
}


.text-justify {
    text-align: justify;
}
.h1{
    font-size: 48px !important;
    color: var(--primary);
    font-family: var(--primary-font);
    font-weight: 700;
    font-style: normal;
}
@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}
nav{
    height:80px;
    background-color: var(--white) !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.site-logo{
    height:60px !important;
}
.apply-button{
    padding:5px 30px 5px 30px !important;
    background-color: var(--primary);
    border-radius: 25px !important;
    color: var(--white);    
}
.apply-button:hover{
    padding:5px 30px 5px 30px !important;
    background-color: var(--secondary);
    border-radius: 25px !important;
    color: var(--white);    
}

.button{
    padding:5px 30px 5px 30px !important;
    background-color: var(--primary);
    border: 0px;
    border-radius: 25px !important;
    color: var(--white);    
}
.button:hover{
    padding:5px 30px 5px 30px !important;
    background-color: var(--secondary);
    border-radius: 25px !important;
    color: var(--white);    
}

/******************************************************************* Home Nav Tab **********************************************************/

.nav-tabs {
    border-bottom: 0px solid transparent;
    font-size: 24px;
    font-weight: 600;
}
.nav-tabs .nav-link {
    color: var(--secondary) !important;
    font-family: var(--secondary-font) !important;
    border: 0px solid transparent;
    border-radius: 0px !important;
    padding:5px 75px 5px 75px !important;
    margin: 10px;
    letter-spacing: 3px !important;

}
.nav-tabs .nav-link.active, .nav-tabs .nav-link.hover{
    color: var(--white) !important;
    background-color: var(--primary) !important;
    border-radius:50px !important;
}

/******************************************************************* Home Products Box **********************************************************/
.home-product{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
}
.home-product:hover{
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: 14px;
}
.home-product img{
    width:400px;
    height: 250px;
}
.showProductInqueryForm{
    text-decoration:none;
}

.home-product i {
    border-radius: 50%;
    border: 3px solid var(--secondary);
    padding: 20px;
    font-size: 32px;
    color: var(--secondary);
}

.home-product i:hover {
    border-radius: 50%;
    border: 3px solid var(--white);
    background-color: var(--primary);
    padding: 20px;
    font-size: 32px;
    color: var(--white);
}

.home-product .home-product-shortname{
    font-size: 24px !important;
    color: var(--primary);
    font-family: var(--primary-font);
    font-weight: 700 !important;
    letter-spacing: 2px;
}

.home-product .home-product-name{
    font-size: 16px !important;
    color: var(--secondary);
    font-family: var(--primary-font);
    font-weight: 400;
}


/******************************************************************* Footer Style **********************************************************/
.footer {
    background-color: var(--primary);
    color: var(--white);
    p{
        font-family: var(--text);
        font-weight: 300;
        text-align: justify !important;
    }
  }

  .footer a {
    color: var(--white);
    text-decoration: none;
  }
  .footer a:hover {
    color: #FEC84D;
  }
  .footer h5 {
    margin-bottom: 20px;
  }

/******************************************************************* Modal **********************************************************/
.modal{
    border-radius: 0px !important;
}
.modal .modal-header{
    background-color: var(--primary);
    .modal-title{
       color: var(--white); 
       font-family: var(--primary-font);
       font-size: 18px;
       font-weight: 500;
    }
}







/******************************************************************* Input Modal CSS **********************************************************/
.input-group .input-group-text, .input-group .form-control {
    background-color: transparent;
    color: var(--primary);
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid var(--primary) 1px;
    padding: 3px 10px;
}
.step .validation-error{
    color: var(--red);
}
.step .form-label{
    font-size: 20px !important;
    color: var(--primary);
    font-family: var(--primary-font);
    font-weight: 500 !important;
    letter-spacing: 2px;
    text-transform:uppercase;
}   
.bottom-modal .modal-dialog {
    position:fixed;
    top:auto;
    right:auto;
    left:auto;
    bottom:0 !important;
    margin:0px !important;
    border-radius:0px !important;
    border:0px !important;
    min-width: 100%;
    height: 90%;
}  
.bottom-modal .modal-content{
    border-radius: 0;
    height: 100%;
}
.bottom-modal .modal-header{
    border-radius: 0;
}
.step {
    display: none;
    padding-top:100px !important;
    
}
#steps-container {
    margin: auto;
    width:420px !important;
    min-height: 350px;
    display: inline;
    vertical-align: middle;
    align-items: center;
}
#success {
    display: none;
}
button#prev-btn,
button#next-btn,
button#submit-btn {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    width: 130px;
    height: 50px;
    background: #DC3545;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color .3s;
    text-align: center;
    color: #fff;
    border: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

button#prev-btn:after,
button#next-btn:after,
button#submit-btn:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cc0616;
    content: "";
    z-index: -2;
    transition: transform .3s;
}

button#prev-btn:hover::after,
button#next-btn:hover::after,
button#submit-btn:hover::after {
    transform: translateY(-80%);
    transition: transform .3s;
}

.progress {
    border-radius: 0px !important;
}
/******************************************************************* Input Modal CSS **********************************************************/
